/*
#10002B
#240046
#3C096C
#7B2CBF
#9D4EDD
#A650DF
#C77DFF
#E0AAFF
*/

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #10002B;
    font-family: sans-serif;
}

.container {
    width: 90vw;
    height: 90vh;

    margin: 5vh 5vw;

    background-color: #240046;

    display: flex;
    flex-direction: row;

    border-radius: 20px;
}

.left-container {
    height: 90vh;
    width: 44vw;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.left-container > img {
    height: 200px;
    width: 200px;
}

.text-field {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;

    font-size: 25px;
    box-sizing: border-box;
}

.text-field > label {
    color: #A650DF;

    margin-bottom: 10px;
}

.text-field > input {
    border: none;
    outline: none;

    border-radius: 10px;
    padding: 20px;
    margin-bottom: 25px;
    width: 35vw;

    background-color: #C77DFF;
    color: white;
    font-size: 12px;

    box-sizing: border-box;
}

.text-field > input::placeholder{
    color: #E0AAFF;
}

.fa-eye {
    color: #240046;
    justify-self: end;
    cursor: pointer;
    position: absolute;
    right: 56%;
    margin-top: 15px;
}

#linha-vertical {
    height: 75vh;
    width: 1vw;

    justify-content: center;
    align-items: center;

    margin: auto 0;    
    border-right: 1px solid #A650DF;
}

.right-container {

    height: 90vh;
    width: 45vw;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

.right-container > button {
    border: none;
    outline: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 65px;

    margin: auto;
    padding: 15px 15px;
    width: 80%;

    background-color: #A650DF;
    border-radius: 10px;
    letter-spacing: 1px;
    font-size: 20px;
}

.right-container > button:hover {
    opacity: 0.7;
}


.written-content{
    vertical-align: top;
}

.written-content h1{
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
}

.written-content p{
    text-align: justify;
    font-size: 18px;
    margin-top: 20px;
}

.written-content ul{
    list-style: none;
}

.written-content ul{
    margin-top: 20px;
}

.written-content ul li span{
    font-size: 20px;
    font-weight: 500;
}

.written-content ul li{
    margin-bottom: 10px;
}

/*Parte do modal*/

.fade{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
    border-radius: 1rem;
}

.modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #fff;
    width: 600px;
    max-width: 90%;
    padding: 1rem;
    border-radius: 1rem;
    height: 90vh;
}

.modal.delete {
    height: 230px;
    width: 500px;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    font-size: 15px;
    color: black;
}

textarea{
    resize: none;
    width: 95%;

    outline: none;

    border-radius: 5px;
    margin-bottom: 10px;
    padding: 1px;

    background-color: #C77DFF;
    color: white;
    font-size: 15px;

    box-sizing: border-box;
}

.modal-content{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-content h2{
    font-size: 35px;
}

.modal-content p{
    font-size: 14px;
    margin: 15px 20%;
    text-align: center;
}

.modal-header i:hover{
    cursor: pointer;
}

.options{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options button{
    min-width: 30%;
    border-radius: 0.5rem;
    background-color: rgb(157 78 211);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: rgb(255 255 255);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    margin: 10px;

/* }width: 30%;
    height: 100%;
    outline: none;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    background-color: #910ce9;
    color: #fff;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center; */
}

.options button:hover{
    background-color: rgb(123 44 191)
    /* background-color: #A650DFCC;
    transition: all 0.3s ease; */
}

.actived{
    animation: modal 0.6s;
    display: flex;
}

.content{
    height: 80%;
    display: flex;
}

.content .formulario{
    width: 50%;
}

.content .container-textarea{
    height: 100%;
    width: 50%;
}

.field{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.field label{
    color: #10002B;
    margin-bottom: 10px;
    font-weight: 600;
}

.field input{
    border: none;
    outline: none;

    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    width: 80%;

    background-color: #C77DFF;
    color: white;
    font-size: 12px;

    box-sizing: border-box;
}


.field input::placeholder{
    color: white;
    font-weight: 600;
} 

textarea::placeholder{
    color: white;
    font-weight: 600;
    padding: 1px;
}

.center{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    width: 250px;
    display: flex;
}

.image img{
    width: 100%;
    height: 100%;
    
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3)
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate(0, -70px);
    }
    to{
        opacity: 1;
        transform: translate(0, 0);
    }
}

@media screen and (max-width: 500px) {

    .left-container > img {
        display: none;
    }

    .text-field > label {
        margin-bottom: 5px;
    }

    .text-field > input {
        padding: 10px;
        margin-bottom: 15px;
        width: 35vw;
    }

    .right-container {
        justify-content: space-between;
        align-items: center;
    }

    .right-container > button {
        height: 55px;
        font-size: 18px;
    }

}

@media screen and (max-height: 600px) {

    .text-field > label {
        margin-bottom: 5px;
    }

    .text-field > input {
        padding: 10px;
        margin-bottom: 15px;
        width: 35vw;
    }
}

@media screen and (max-height: 500px) {

    .left-container > img {
        display: none;
    }

    .right-container > button {
        height: 55px;
        font-size: 18px;
    }

    .text-field > label {
        font-size: 18px;
    }
}

@media screen and (max-height: 350px) {

    .right-container > button {
        height: 45px;
        font-size: 16px;
    }

    .text-field > input {
        font-size: 10px;
    }

    .text-field > label {
        font-size: 16px;
    }
}

@media screen and (max-height: 275px) {

    .right-container > button {
        height: 35px;
        font-size: 14px;
    }

    .text-field > label {
        font-size: 14px;
    }
}
