body{
    font-family:  sans-serif;
    background-image:linear-gradient(45deg, #240046, #A650DF, #240046);
}
div{
    background-color:#240046;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 100px;
    border-radius: 10px;
    color:#E0AAFF;
    text-align:center;
    margin: auto;
}

input{
    padding: 10px;
    border-radius: 5px;
    border:none;
    width: 90%;
    color:#10002B;
    background-color: #E0AAFF;
}

button{
    width: 100%;
    border-radius: 0.5rem;
    background-color: rgb(157 78 211);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top:0.75rem;
    padding-bottom:0.75rem;
    color: rgb(255 255 255)
}

button:hover{
    background-color:#7B2CBF;
    cursor: pointer;
}

a{
    color: #E0AAFF;
}

#senha {
    width: 150px;
    padding-right: 20px;
    width: 85%;
  }

  .olho {
    cursor: pointer;
    right: 108px;
    position: fixed;
    width: 25px;
    margin-top: 5px;
  }