* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #240046;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.logo img {
    height: 10vh;
}

.nav-list {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #C77DFF;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f1f100;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 5px;
}

.nav-link:hover{
    color: #985fc4;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu-icon button img{
    font-size: 0;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {

    .nav-item {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .open {
        display: block;
    }
}