<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/css/formUser.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="icon" type="image/png" href="/public/assets/Maristory-Navbar.png" sizes="32x32">

    <title>Formulário de Usuários</title>
</head>
<body>

    <div class="container">

        <div class="left-container">

            <img src="/public/assets/Maristory-Transparente2.png" alt="Maristory logo">

            <form>
                <div class="text-field">
                    <label for="userName">Nome:</label>
                    <input type="text" id="userName" name="userName" placeholder="Nome" required/>
                </div>

                <div class="text-field">
                    <label for="userEmail">Email:</label>
                    <input type="email" id="userEmail" name="userEmail" placeholder="Email" required/>
                </div>

                <div class="text-field">
                    <label for="userPassword">Senha:</label>
                    <input type="password" id="userPassword" name="userPassword" placeholder="Senha" required/>
                    <i id="verSenha" class="fa fa-eye" aria-hidden="true"></i>
                </div>
            </form>

        </div>

        <div id="linha-vertical"></div>

        <div class="right-container">

            <button>Adicionar Usuário</button>
            <button>Visualizar Usuário</button>
            <button>Editar Usuário</button>
            <button id="excluirUsuario">Excluir Usuário</button> 

        </div>

    </div>

    <script src="/public/js/formUser.js"></script>
    
</body>
</html>