<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/css/formPosts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    <link rel="icon" type="image/png" href="public/assets/Maristory-Transparente2" sizes="32x32">

    <title>Formulário de Posts</title>
</head>
<body>


    <div class="container">

        <div class="left-container">

            <form>
                <div class="text-field">
                    <label for="title">Titulo:</label>
                    <input type="text" id="title" name="title" placeholder="Titulo" required/>
                </div>

                <div class="text-field">
                    <label id="text-area" for="textarea">Conteúdo:</label>
                    <textarea type="text" id="text" name="text" placeholder="Conteúdo" rows="3" cols="71" ></textarea>
                </div>

                <div class="text-field">
                    <label for="date">Data:</label>
                    <input type="date" id="date" name="date"/>  
                </div>

                <div class="text-field">
                    <label for="title">Autor (Usuário):</label>
                    <input type="text" id="Autor" name="Autor" placeholder="Autor (Usuário)" required/>
                </div>

                <div class="text-field">
                    <label for="title">Imagem:</label>
                    <div class="upload">
                        <div class="upload-button">
                            <label for="arq">Envie uma imagem</label>
                            <input name="arq" type="file" id="up-file"  onchange="readURL(this);">
                        </div>
                        <img class="file-img" id="file-upload">
                    </div>
                </div>
            </form>

        </div>

        <div id="linha-vertical"></div>

        <div class="right-container">

            <button>Adicionar Post</button>
            <button>Visualizar Posts</button>
            <button>Editar Post</button>
            <button class="open-modal" onclick="openModal()">Excluir Post</button>

        </div>


        <!--Parte do Modal-->
        <div class="fade">
            <div class="modal">
                <div class="modal-header">
                    <h3>Apenas checando...</h3>
                </div>
                <div class="modal-content">
                    <h2>Deletar esse post ?</h2>
                    <p>Esta ação é final e você NÃO poderá recuperar qualquer dado posteriormente</p>
                </div>
                <div class="options">
                    <button class="option" onclick="pseudoDelete()">Sim</button>
                    <button onclick="closeModal()" class="option">Não</button>
                </div>
            </div>
        </div>


    </div>

    <script src="/public/js/formPosts.js"></script>
    
</body>
</html>