<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maristory</title>

    <link rel="stylesheet" href="C:\Users\vitor\OneDrive\Imagens\Documentos\CodeSite\Maristory\public\css\landingPage.css">

</head>
<body>

    <div class="navegaçao">
        <h1>Navbar</h1>
    </div>

    <div class="paginicial">
    <h1>Olá, leitor(a)!</h1>
    <h2>Somos maristory, um site de feedbacks de livros.</h2>
    <h3>Aqui você pode avaliar os livros, fazer resumos, dar sua opinião,<br> deixar suas recomendações e ainda ver o feedback de outros leitores.</h3>
    </div>

    <div class="rodape">
        <h1>footer</h1>
    </div>

</body>
</html>