<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login - Maristory</title>
    <link rel ="stylesheet" href="/Maristory/public/css/styles.css">
</head>

<body>
    <div>
        <img src="/Maristory/public/assets/Maristory-Navbar-Transparente.png" alt="maristory logo">
        <h1> Bem vindo(a)! </h1>
        <input type="text" placeholder="Nome do Usuário ou Email">
        <br><br>
        <input type="password" placeholder="Senha">
        <br><br>  
        <button> Entrar </button>
        <br><br>
        <a href="#">Cadastrar-se</a>
    </div>
<body>
</body>
</html>
